[global]
    workgroup = {{ realm.split('.', 1)[0] | upper }}
    realm = 
    security = ADS
    passdb backend = tdbsam
    winbind refresh tickets = Yes

    security = ads
    realm = {{ realm | upper }}
    workgroup = {{ realm.split('.', 1)[0] | upper }}
    template shell = /bin/bash
    kerberos method = system keytab
    wins support = no
    winbind use default domain = yes
    winbind enum users = no
    winbind enum groups = no
    template homedir = /home/{{ realm | upper }} /%U
    winbind refresh tickets = no
    winbind offline logon = no
    machine password timeout = 0

    idmap config * : range = 10000-99999
    idmap config * : backend = tdb
    idmap config {{ realm.split('.', 1)[0] | upper }} : range = 1000000-1999999
    idmap config {{ realm.split('.', 1)[0] | upper }} : backend = rid

    client min protocol = SMB3
    load printers = no
    printcap name = /dev/null

    vfs objects = acl_xattr
    map acl inherit = yes
    store dos attributes = yes

[share]
 path = {{ share.dir }}
 read only = no
 browseable = yes
{% if valid_users is defined %}
 valid users = {{ valid_users | join(',') }}
{% endif %}
{% if admin_users is defined %}
 admin users = {{ admin_users | join(',') }}
{% endif %}
 acl_xattr:ignore system acls = yes
