[global]
    workgroup = ASTRAKHAN-DB
    realm = {{ realm | upper }}
    security = ADS
    passdb backend = tdbsam
    winbind refresh tickets = Yes

    idmap config * : backend = tdb
    idmap config * : range = 210000-999999
    idmap config ADB : backend = sss
    idmap config ADB : range = 2000000-4000000000

    client min protocol = SMB2
    client max protocol = SMB3

    dedicated keytab file = /etc/krb5.keytab
    kerberos method = secrets and keytab

    machine password timeout = 60
    vfs objects = acl_xattr
    map acl inherit = yes
    store dos attributes = yes

    printcap name = /dev/null
    load printers = no

[share]
 path = {{ share.dir }}
 read only = no
 browseable = yes
{% if valid_users is defined %}
 valid users = {{ valid_users | join(',') }}
{% endif %}
{% if admin_users is defined %}
 admin users = {{ admin_users | join(',') }}
{% endif %}
 directory mask = 0700
 create mask = 0600
